<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<body>
<div id="app">
    <div v-for="(d,index) in counter">
        <input type="text" placeholder="我是输入框">
    </div>
    <button @click="add">点我</button>

</div>

<script type="text/javascript">
    var vm =new Vue({
        el:'#app',
        data:{
          counter:[]
        },
        methods:{
            add(){
                this.counter.push({})
            }
        }

    })
</script>

</body>
</html>