<!DOCTYPE html>
<html>
<head>
    <title>蛋糕课程表</title>
		<#include "/header.html">
    <!--都是图片上传的css-->
    <link href="${request.contextPath}/statics/libs/imgUp/common.css?_${.now?long}" type="text/css" rel="stylesheet"/>
    <link href="${request.contextPath}/statics/libs/imgUp/index.css" type="text/css" rel="stylesheet"/>
    <link href="${request.contextPath}/statics/libs/imgUp/normalize.css" rel="stylesheet" type="text/css">
    <!--layerui-->
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css?_${.now?long}">
    <style>
        .list {top: 15px;width: 140px;height: 40px; border:1px solid #0082E6; display:inline-block;border-radius: 2px;position: relative; line-height: 40px;}
        #videoFile{position: absolute;opacity: 0;color:white;width: 100%;height: 100%;z-index: 100;}
        .list span{
            display: inline-block;
            text-align: center;
            width: 100%;
            line-height: 40px;
            position: absolute;
            color: #0082E6;
        }
        video{
            margin-top: 8px;
            border-radius: 4px;
        }
        .container {
            margin: 24px auto;
        }
        ._p{
            margin: 14px;
        }
        ._p input{
            display: inline-block;
            width: 70%;
            margin-left: 6px;
        }
        ._p span{
            font-size: 15px;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:course:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:course:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:course:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">课程名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="course.title" placeholder="课程名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">课程分类</div>
            <div class="col-sm-10">
                <select class="form-control" id="cateType" v-model="course.cateId" @change="checkType">
                    <option :value="item.id" v-for="(item,index) in cateList" :key="index" :selected="index==0" :data-lev="item.lev">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">套餐课程分类</div>
            <div class="col-sm-10">
                <select class="form-control" id="comboType" v-model="course.comboTypeId" >
                    <option :value="item.id" v-for="(item,index) in comboTypeList" >{{item.title}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">主图图片</div>
            <div class="col-sm-10">
                <div class="proDetailPic" style="width:230px;">
                    <section class=" img-section">
                        <div class="z_photo upimg-div clear proDetail" style="border: 2px dashed #E7E6E6; width: 230px;height: 220px;padding: 18px;">
                            <div id="preview1" style="width: 190px;height: 180px;">
                                <img id="imgProDetail100" border="0" :src="course.courseImg != '' && course.courseImg != undefined ? course.courseImg : '/cake-admin/statics/img/a11.png'" width="190" height="180" onclick="$('#previewImg100').click();">
                            </div>
                            <input type="file" onchange="onePicUpLoad(this,100,190,180)" style="display: none;" id="previewImg100">
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">视频</div>
            <div class="col-sm-10">
                <div style="border-width: 2px;border-style: dashed;border-color: rgb(231, 230, 230);border-image: initial;max-width: 88%;min-height: 257px;">
                    <div id="content"  style="width: 51%;float: left;padding: 10px;">
                        <p class="_p">
                            <span>选择视频： </span>
                            <!--文件选择按钮-->
                            <a class="list" href="javascript:;">
                                <input id="videoFile" type="file" name="myfile" accept="video/*"  onchange="UpladFile();" /><span>选择视频</span>
                            </a>
                            <!--上传速度显示-->
                            <span id="time"></span>
                        </p>
                        <!--显示消失-->
                        <ul class="el-upload-list el-upload-list--text" style="display:  none;margin-top: 37px;">
                            <li tabindex="0" class="el-upload-list__item is-success" style="border-radius: 4px;height: 40px;padding: 5px;">
                                <a class="el-upload-list__item-name">
                                    <i class="Hui-iconfont">&#xe63e;</i>&nbsp;<span id="videoName">food.jpeg</span>
                                </a>
                                <label class="el-upload-list__item-status-label" style="color: #13CE66;font-size: 14px;float: right;display: none;">
                                    <i class="Hui-iconfont">&#xe615;</i>
                                </label>
                                <i class="el-icon-close" onclick="del();"></i>
                                <i class="el-icon-close-tip"></i>
                            </li>
                        </ul>

                        <!--进度条-->

                        <section class="container" style="display: none;">
                            <div class="layui-progress" lay-showpercent="yes" lay-filter="demo" style="width: 46%;">
                                <div class="layui-progress-bar layui-bg-blue" lay-percent="0%">
                                </div>
                            </div>
                        </section>

                        <p class="_p"><span>上传视频</span>：<button class="btn btn-primary" type="button" onclick="sub();" style="margin-left: 5px;">上传</button></p>
                    </div>
                    <!--预览框-->
                    <div class="preview" style="text-align: center;float: left;margin-left: 109px;" :data-videoSrc="course.courseVideo">
                        <video v-show="course.courseVideo != '' && course.courseVideo != undefined"  controls='' autoplay='' name='media' style='max-width: 563px;'>
                            <source :src="course.courseVideo" type='video/mp4'>
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">副图图片</div>
            <div class="col-sm-10">
                <div class="banner">
                    <div class="img-box full">
                        <section class=" img-section">
                            <div class="z_photo upimg-div clear">
                                <section class="up-section fl" v-for="(item,index) in bannerArr">
                                    <span class="up-span imgIndex"></span>
                                    <img class="close-upimg" src="/cake-admin/statics/img/a7.png">
                                    <img class="up-img" :src="item">
                                    <p class="img-name-p"></p>
                                    <input class="prod_img" name="prod_img" value="" type="hidden">
                                    <input class="ban_img" name="ban_img" value="" type="hidden">
                                </section>

                                <section class="z_file fl">
                                    <img src="/cake-admin/statics/img/a11.png" class="add-img">
                                    <input type="file" name="file" id="banner_pic" class="file" value=""
                                           accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
                                </section>
                            </div>
                        </section>
                    </div>
                    <aside class="mask works-mask">
                        <div class="mask-content">
                            <p class="del-p">您确定要删除该图片吗？</p>
                            <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">售价</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="course.price" placeholder="售价"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">课程简介</div>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" v-model="course.courseDes" placeholder="课程简介"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">课程详情HTML代码</div>
            <div class="col-sm-10">
                <div><script id="baseDataEditor" type="text/plain" style="width:100%;height:400px;"></script></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script type="text/javascript" src="${request.contextPath}/statics/libs/ueditor/1.4.3/ueditor.config.js?_${.now?long}"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/ueditor/1.4.3/ueditor.all.js?_${.now?long}"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/ueditor/1.4.3/lang/zh-cn/zh-cn.js?_${.now?long}"></script>
<!--单图上传js-->
<script type="text/javascript" src="${request.contextPath}/statics/libs/imgUp/imgUp.js?_${.now?long}"></script>
<!--多图上传js-->
<script type="text/javascript" src="${request.contextPath}/statics/libs/imgUp/imgPlugin.js?_${.now?long}"></script>
<!--layerui-->
<script type="text/javascript" src="${request.contextPath}/statics/plugins/layui/layui.js?_${.now?long}"></script>
<!--视频上传-->
<script type="text/javascript" src="${request.contextPath}/statics/plugins/videoUpload/videoUpload.js?_${.now?long}"></script>

<script src="${request.contextPath}/statics/js/modules/sys/course.js?_${.now?long}"></script>


</body>
</html>