<!DOCTYPE html>
<html>
<head>
    <title>商品种类表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:productcategory:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:productcategory:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:productcategory:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">分类名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="productCategory.categoryName" placeholder="分类名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">父类</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="productCategory.categoryParentid">
                    <option :value="0" selected >顶级分类</option>
                    <option :value="item.id" v-for="(item,index) in cateList" :key="index" :data-lev="item.lev">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">分类状态</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="productCategory.categoryFlag">
                    <option :value="1" selected >启用</option>
                    <option :value="0" >禁用</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">创建时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="productCategory.createTime" placeholder="创建时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">修改时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="productCategory.updateTime" placeholder="修改时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">修改管理员</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="productCategory.updateBy" placeholder="修改管理员"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/productcategory.js?_${.now?long}"></script>
</body>
</html>