<!DOCTYPE html>
<html>
<head>
    <title>商品表</title>
		<#include "/header.html">
    <!--都是图片上传的css-->
    <link href="${request.contextPath}/statics/libs/imgUp/common.css?_${.now?long}" type="text/css" rel="stylesheet"/>
    <link href="${request.contextPath}/statics/libs/imgUp/index.css" type="text/css" rel="stylesheet"/>
    <link href="${request.contextPath}/statics/libs/imgUp/normalize.css" rel="stylesheet" type="text/css">
    <!--产品展示-->
    <link rel="stylesheet" href="${request.contextPath}/statics/libs/productShow/css/shouye.css">


    <style>
        .list {top: 15px;width: 140px;height: 40px; border:1px solid #0082E6; display:inline-block;border-radius: 2px;position: relative; line-height: 40px;}
        #videoFile{position: absolute;opacity: 0;color:white;width: 100%;height: 100%;z-index: 100;}
        .list span{
            display: inline-block;
            text-align: center;
            width: 100%;
            line-height: 40px;
            position: absolute;
            color: #0082E6;
        }
        video{
            margin-top: 8px;
            border-radius: 4px;
        }
        .container {
            margin: 24px auto;
        }
        ._p{
            margin: 14px;
        }
        ._p input{
            display: inline-block;
            width: 70%;
            margin-left: 6px;
        }
        ._p span{
            font-size: 15px;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:product:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:product:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:product:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal" style="width: 798px">
        <div class="form-group">
            <div class="f_l black-div"></div>
            <span class="f_l basic-data">基本信息</span>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">商品名称</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="product.productName" placeholder="商品名称"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商品类型</div>
            <div class="col-sm-10">
                <select class="form-control" id="cateType" v-model="product.productCateid" @change="checkType">
                    <option :value="item.id" v-for="(item,index) in cateList" :key="index" :selected="index==0" :data-lev="item.lev">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商品售价</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="product.productPrice" placeholder="商品售价"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">价格区间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="product.productPriceRegion" placeholder="商品规格价格区间，如: ￥199.00-￥299.00"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商品原价</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="product.productOrigin" placeholder="商品原价"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">商品状态</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="product.productFlag">
                    <option :value="1" selected >上架</option>
                    <option :value="2">上架但不显示</option>
                    <option :value="0" >下架</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">热销标记(展示在首页)</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="product.productHotId">
                    <option :value="item.id" v-for="(item,index) in hotList" :key="index" :selected="index==0">
                        {{item.hotTitle}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">加购标记</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="product.productExtra">
                    <option :value="0" selected>不设为加购</option>
                    <option :value="1" >设为加购商品</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">热门标记</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="product.productHotFlag">
                    <option :value="0" selected>不推荐</option>
                    <option :value="1" >推荐</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">所属门店</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="product.shopId">
                    <option :value="item.id" v-for="(item,index) in shopList" :key="index">{{item.shopName}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="f_l black-div"></div>
            <span class="f_l basic-data">图片与视频</span>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">商品主图</div>
            <div class="col-sm-10">
                <div class="proDetailPic" style="width:230px;">
                    <section class=" img-section">
                        <div class="z_photo upimg-div clear proDetail" style="border: 2px dashed #E7E6E6; width: 230px;height: 220px;padding: 18px;">
                            <div id="preview1" style="width: 190px;height: 180px;">
                                <img id="imgProDetail100" border="0" :src="product.productImg != '' && product.productImg != undefined ? product.productImg : '/cake-admin/statics/img/a11.png'" width="190" height="180" onclick="$('#previewImg100').click();">
                            </div>
                            <input type="file" onchange="onePicUpLoad(this,100,190,180)" style="display: none;" id="previewImg100">
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商品视频</div>
            <div class="col-sm-10">
                <div style="border-width: 2px;border-style: dashed;border-color: rgb(231, 230, 230);border-image: initial;width:1000px;min-height: 257px;">
                    <div id="content"  style="width: 51%;float: left;padding: 10px;">
                        <p class="_p">
                            <span>选择视频： </span>
                            <!--文件选择按钮-->
                            <a class="list" href="javascript:;">
                                <input id="videoFile" type="file" name="myfile" accept="video/*"  onchange="UpladFile();" /><span>选择视频</span>
                            </a>
                            <!--上传速度显示-->
                            <span id="time"></span>
                        </p>
                        <!--显示消失-->
                        <ul class="el-upload-list el-upload-list--text" style="display:  none;">
                            <li tabindex="0" class="el-upload-list__item is-success" style="border-radius: 4px;height: 40px;padding: 5px;">
                                <a class="el-upload-list__item-name">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;<span id="videoName">food.jpeg</span>
                                </a>
                                <label class="el-upload-list__item-status-label" style="color: #13CE66;font-size: 14px;float: right;display: none;">
                                    <i class="fa fa-check-square" aria-hidden="true"></i>
                                </label>
                                <i class="el-icon-close" onclick="del();"></i>
                                <i class="el-icon-close-tip"></i>
                            </li>
                        </ul>

                        <!--进度条-->
                        <section class="container" style="display: none;">
                            <div class="layui-progress" lay-showpercent="yes" lay-filter="demo" style="width: 40%;">
                                <div class="layui-progress-bar layui-bg-blue" lay-percent="0%" ></div>
                            </div>
                        </section>

                        <p class="_p"><span>上传视频</span>：<button class="btn btn-primary" type="button" onclick="sub();" style="margin-left: 5px;">上传</button></p>
                    </div>
                    <!--预览框-->
                    <div class="preview" style="text-align: center;float: left;margin-left: 109px;" :data-videoSrc="product.productVideo">
                        <video v-show="product.productVideo != '' && product.productVideo != undefined"  controls='' autoplay='' name='media' style='max-width: 563px;'>
                            <source :src="product.productVideo" type='video/mp4'>
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">商品副图</div>
            <div class="col-sm-10">
                <div class="banner">
                    <div class="img-box full">
                        <section class=" img-section">
                            <div class="z_photo upimg-div clear">
                                <section class="up-section fl" v-for="(item,index) in bannerArr">
                                    <span class="up-span imgIndex"></span>
                                    <img class="close-upimg" src="/cake-admin/statics/img/a7.png">
                                    <img class="up-img" :src="item">
                                    <p class="img-name-p"></p>
                                    <input class="prod_img" name="prod_img" value="" type="hidden">
                                    <input class="ban_img" name="ban_img" value="" type="hidden">
                                </section>

                                <section class="z_file fl">
                                    <img src="/cake-admin/statics/img/a11.png" class="add-img">
                                    <input type="file" name="file" id="banner_pic" class="file" value=""
                                           accept="image/jpg,image/jpeg,image/png,image/bmp" multiple/>
                                </section>
                            </div>
                        </section>
                    </div>
                    <aside class="mask works-mask">
                        <div class="mask-content">
                            <p class="del-p">您确定要删除该图片吗？</p>
                            <p class="check-p"><span class="del-com wsdel-ok">确定</span><span class="wsdel-no">取消</span></p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="f_l black-div"></div>
            <span class="f_l basic-data">产品属性</span>
        </div>

        <div class="form-group" style="min-height: 197px;">
            <a class="btn btn-primary radius" @click="prodetail_addOrUpdate('添加产品规格','900px','600px','add')" href="javascript:;" style="margin-left: 159px;color: #fff">
                <i class="fa fa-plus"></i> 添加产品规格
            </a>
            <div class="Xcontent" v-show="showDetail">
                <ul class="Xcontent01">
                    <!-- 展示大图 -->
                    <div class="Xcontent06"><img src="" /></div>
                    <!-- 右侧小图 -->
                    <ol class="Xcontent08">
                        <div class="Xcontent_R"  :class="index == productDetailList.length-1 ? 'selected':''" v-for="(detail,index) in productDetailList"
                             :data-id="detail.id"
                             :data-detailname="detail.detailName"
                             :data-detailsku="detail.detailSku"
                             :data-detailprice="detail.detailPrice"
                             :data-detailsize="detail.detailSize"
                             :data-detailtaste="detail.detailTaste">

                            <img :src="detail.detailCover">
                        </div>
                    </ol>
                    <!-- 产品属性 -->
                    <ol class="Xcontent13">
                        <div class="Xcontent14"><a href="#"><p></p></a></div>
                        <div class="Xcontent15"><img src="/cake-admin/statics/libs/productShow/img/X11.png"></div>
                        <div class="Xcontent16"><p></p></div>
                        <div class="Xcontent17">
                            <p class="Xcontent18">售价</p>
                            <p class="Xcontent19">￥<span></span></p>
                        </div>
<!--                        <div class="Xcontent26">-->
<!--                            <p class="title">商品SKU：</p>-->
<!--                            <p class="text pdsku"></p>-->
<!--                        </div>-->
                        <div class="Xcontent26">
                            <p class="title">尺寸：</p>
                            <p class="text pdsize"></p>
                        </div>
                        <div class="Xcontent26">
                            <p class="title">口味：</p>
                            <p class="text pdtaste"></p>
                        </div>
                        <div class="Xcontent26">
                            <p class="title">规格SKU：</p>
                            <p class="text pdsku"></p>
                        </div>


                        <div class="Xcontent34"><a href="javascript:;" @click="prodetail_addOrUpdate('修改产品规格','900px','600px','update')"><img style="border: 1px solid #000;" src="/cake-admin/statics/libs/productShow/img/X17.png"></a></div>
                        <div class="Xcontent35"><a href="javascript:;" @click="delProdetail" class="delProdetail"><img src="/cake-admin/statics/libs/productShow/img/X18.png"></a></div>
                    </ol>
                </ul>
            </div>
        </div>


        <div class="form-group">
            <div class="f_l black-div"></div>
            <span class="f_l basic-data">商品描述信息</span>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">商品描述</div>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" v-model="product.productDesc" placeholder="商品描述"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">商品详情</div>
            <div class="col-sm-10">
                <div><script id="baseDataEditor" type="text/plain" style="width:100%;height:400px;"></script></div>
            </div>
        </div>


        <div class="form-group" style="padding-bottom: 15px;">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>

<script type="text/javascript" src="${request.contextPath}/statics/libs/ueditor/1.4.3/ueditor.config.js?_${.now?long}"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/ueditor/1.4.3/ueditor.all.js?_${.now?long}"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/ueditor/1.4.3/lang/zh-cn/zh-cn.js?_${.now?long}"></script>
<!--单图上传js-->
<script type="text/javascript" src="${request.contextPath}/statics/libs/imgUp/imgUp.js?_${.now?long}"></script>
<!--多图上传js-->
<script type="text/javascript" src="${request.contextPath}/statics/libs/imgUp/imgPlugin.js?_${.now?long}"></script>
<!--产品展示-->
<script type="text/javascript" src="${request.contextPath}/statics/libs/productShow/js/modernizr-custom-v2.7.1.min.js?_${.now?long}"></script>

<!--视频上传-->
<script type="text/javascript" src="${request.contextPath}/statics/plugins/videoUpload/videoUpload.js?_${.now?long}"></script>

<script type="text/javascript" src="${request.contextPath}/statics/js/modules/sys/product.js?_${.now?long}"></script>

</body>
</html>