<!DOCTYPE html>
<html>
<head>
    <title>订单表</title>
		<#include "/header.html">

    <style>
        .input-text{
            box-sizing: border-box;
            border: solid 1px #ddd;
            width: 100%;
            -webkit-transition: all .2s linear 0s;
            -moz-transition: all .2s linear 0s;
            -o-transition: all .2s linear 0s;
            transition: all .2s linear 0s;
            font-size: 14px;
            height: 31px;
            line-height: 1.42857;
            padding: 4px;
        }
        .select-box, .select-box.size-M {
            padding: 4px 5px;
        }
        .select-box {
            border: solid 1px #ddd;
            box-sizing: border-box;
            vertical-align: middle;
            width: 100%;
            display: inline-block;
        }
        .select-box .select {
            border: 0;
            background-color: transparent;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div style="text-align: center">
            <input type="text" name="" onfocus="this.select()" onkeypress="JumpByEnter()" id="orderSearch" placeholder=" 订单号、收货人姓名、用户昵称、手机号" style="width:400px" class="input-text">
            <button name="" id="orderSearch_btn" class="btn btn-success" type="submit">
                <i class="fa fa-search" aria-hidden="true"> 搜订单</i>
            </button>
        </div>
        <div class="grid-btn" style="margin-top: 20px">
			<#if shiro.hasPermission("sys:shoporder:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>

        <div style="float: right;">
            订单类型：
            <span class="select-box" style="width: 150px;">
                <select class="select" size="1" name="demo1" id="cateOptions" >
                    <option value="0">蛋糕订购</option>
                    <option value="1">预约单次体验课程</option>
                    <option value="2">购买套餐课程</option>
                    <option value="3">套餐课程</option>
                </select>
            </span>
            订单状态：
            <span class="select-box" style="width: 150px;">
                <select class="select" size="1" name="demo1" id="stateOptions" >
                    <option value="-2">--- 全部订单 ---</option>
                    <option value="-1">未支付</option>
                    <option value="0">已取消</option>
                    <option value="1">已支付</option>
                    <option value="2">配送中</option>
                    <option value="3">（已确认）已签收</option>
                </select>
            </span>
            派送/取货时间：
            <input type="text" autocomplete="off"
                   onfocus="WdatePicker({onpicked:dateChange(),maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })"
                   id="logmin" class="input-text Wdate datetimeStart" style="width:120px;">
            -
            <input type="text" autocomplete="off"
                   onfocus="WdatePicker({onpicked:dateChange(), minDate:'#F{$dp.$D(\'logmin\')}'  })"
                   id="logmax" class="input-text Wdate datetimeEnd" style="width:120px;">

            <a class="btn btn-success" id="export" ><i class="fa fa-download" aria-hidden="true"></i> 导出蛋糕订单表</a>
            <a class="btn btn-primary" id="exportSmall" ><i class="fa fa-download" aria-hidden="true"></i> 导出蛋糕小单表</a>
        </div>

        </div>
        <table id="jqGrid" width="100%"></table>
        <div id="jqGridPager"></div>
    </div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">订单编号</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.orderNo" placeholder="订单编号"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">订单支付金额</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.orderPrice" placeholder="订单支付金额"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">订单状态</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="shopOrder.orderState">
                    <option :value="-1">未支付</option>
                    <option :value="0">已取消</option>
                    <option :value="1">已支付</option>
                    <option :value="2">已发货</option>
                    <option :value="3">（已确认）已签收</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">生日牌</div>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" v-model="shopOrder.orderRemark" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">特殊备注</div>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" v-model="shopOrder.orderDes" placeholder="备注"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">配送省份</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.addrPro" placeholder="配送省份"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">配送城市</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.addrCity" placeholder="配送城市"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">配送区域</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.addrDis" placeholder="配送区域"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">配送详细地址</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.addrDetail" placeholder="配送详细地址"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">收货(预约)人姓名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.addrReceiver" placeholder="收货人"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">配送方式</div>
            <div class="col-sm-10">
                <select class="form-control" v-model="shopOrder.sendType">
                    <option :value="0">送货上门</option>
                    <option :value="1">门店自取</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">物流方式</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.express" placeholder="物流方式"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">联系方式</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="shopOrder.addrPhone" placeholder="联系方式"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">派送/上课时间</div>
            <div class="col-sm-10">
                <input type="text" autocomplete="off"  v-model="shopOrder.sendTime" class="layui-input" id="datetimeStart">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">下单时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly v-model="shopOrder.createTime" placeholder="创建时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">支付时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" readonly v-model="shopOrder.payTime" placeholder="支付时间"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>
<script type="text/javascript" src="${request.contextPath}/statics/plugins/My97DatePicker/4.8/WdatePicker.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/js/modules/sys/shoporder.js?_${.now?long}"></script>
</body>
</html>